.header {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(255, 255, 255, 1);
}

.child {
  flex:1;
}

.logo {
  text-align: left;
  margin: 12%;
}

.navbar-right {
  margin-right: 10%;
  justify-content: center;
}

.eventify {
  color: rgba(0, 65, 112, 1);
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
}

.noAuth {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  
}

.Auth {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

.sign-up {
  font-family: 'Montserrat', sans;
  font-size: 16px;
  color: rgba(0, 65, 112, 1);
  margin: 5px;
}

.log-in {
  font-family: 'Montserrat', sans;
  font-size: 16px;
  color: rgba(0, 65, 112, 1);
  margin:5px;
}

.notifics, .menu-account {
  margin: 5px;
}

.noC-button {
  background: none;
  border: none;
  outline: none;
}